<!--
创建网站时，几乎都有一些所有网页都将包含的元素。
在这种情况下，可编写一个包含通用元素的父模板，并让每个网页都继承这个模板，而不必在每个网页中重复定义这些通用元素。
这种方法能让你专注于开发每个网页的独特方面，还能让修改项目的整体外观容易得多。
这个文件包含所有页面都有的元素；其他的模板都继承 base.html 。
当前，所有页面都包含的元素只有顶端的标题。我们将在每个页面中包含这个模板，因此我们将这个标题设置为到主页的链接：
这个文件的第一部分创建一个包含项目名的段落，该段落也是一个到主页的链接。
为创建链接，我们使用了一个 模板标签 ，它是用大括号和百分号表示的。
模板标签是一小段代码，生成要在网页中显示的信息。
在这个实例中，模板标签 {% url 'learning_logs:index' %} 生成一个 URL ，该 URL 与 learning_logs/urls.py 中定义的名
为 index 的 URL 模式匹配。
在这个示例中， learning_logs 是一个 命名空间 ，而 index 是该命名空间中一个名称独特的 URL 模式。
-->
<p>
  <a href="{% url 'learning_logs:index' %}">学习笔记</a> -
  <a href="{% url 'learning_logs:topics' %}">主题</a>
</p>
<!--
我们插入了一对块标签。这个块名为 content ，是一个占位符，其中包含的信息将由子模板指定。
子模板并非必须定义父模板中的每个块，因此在父模板中，可使用任意多个块来预留空间，而子模板可根据需要定义相应数量的块。
-->
{% block content %}{% endblock %}
<!--
在大型项目中，通常有一个用于整个网站的父模板 ——base.html ，且网站的每个主要部分都有一个父模板。
每个部分的父模板都继承 base.html ，而网站的每个网页都继承相应部分的父模板。
这让你能够轻松地修改整个网站的外观、网站任何一部分的外观以及任何一个网页的外观。
这种配置提供了一种效率极高的工作方式，让你乐意不断地去改进网站。
-->
