<!--
可发现我们将标题 Learning Log 替换成了从父模板那里继承的代码。
子模板的第一行必须包含标签extends  ，让Django 知道它继承了哪个父模板。
文件 base.html 位于文件夹 learning_logs 中，因此父模板路径中包含 learning_logs 。
这行代码导入模板 base.html 的所有内容，让 index.html 能够指定要在 content 块预留的空间中添加的内容。
-->
{% extends "learning_logs/base.html" %}
<!--
模板定义了网页的结构。模板指定了网页是什么样的，而每当网页被请求时， Django 将填入相关的数据。模板让你能够访问视图提供的任何数据。
我们的主页视图没有提供任何数据，因此相应的模板非常简单。
创建网页的过程看起来可能很复杂，但将 URL 、视图和模板分离的效果实际上很好。
这让我们能够分别考虑项目的不同方面，且在项目很大时，让各个参与者可专注于其最擅长的方面。
例如，数据库专家可专注于模型，程序员可专注于视图代码，而 Web 设计人员可专注于模板。
们插入了一个名为 content 的 block 标签，以定义 content 块。
不是从父模板继承的内容都包含在 content 块中，在这里是一个描述项目 “ 学习笔记 ” 的段落。
我们使用标签 endblock 指出了内容定义的结束位置。
-->
{% block content %}
  <p>学习笔记，记录你的学习过程！</p>
{% endblock content %}
